body {
  background-color: black;
  color: cornsilk;
  margin-top: 200px;
}

h1 {
  color: yellowgreen;
  text-align: center;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

.calculate {
  text-align: center;
}
